<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta tags -->
	<title>Awareness</title>
	<!-- stylesheets -->
	<link rel="stylesheet" href=" {{url_for('static',filename='css/font-awesome.css') }}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}">
	<!-- <link rel="stylesheet" href="/web/css/font-awesome.css"> -->
	<!-- <link rel="stylesheet" href="/web/css/style.css"> -->
	<!-- google fonts  -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
	<script>
</script>
</head>
<body>
	<div class="agile-login">
		<h1>Awareness</h1>
		<div class="wrapper">
			<h2>Search</h2>
			<div class="w3ls-form">
				<form action="{{url_for('loading') }}" method="post">
					<label>First Name</label>
					<input type="text" name="first name" placeholder="John" required/>
					<label>Last Name</label>
					<input type="text" name="last name" placeholder="Doe" required/>
					<label>Location</label>
					<input type="text" name="location" placeholder="90210" required />
					<input type="submit" value="Search" />
				</form>
				</div>
				<a href="zxing://scan/?ret=http%3A%2F%2F192.168.43.122:5000%2FaddCode%2F%7BRAWCODE%7D"><span id="scanid" text="Testing" value="SCAN ID" style="background-color: #1313ca !important;
    margin: 20px auto !important;
    vertical-align: top !important;
    padding: 9px 60px !important;
    font-size: 18px !important;
    color: #ffffff !important;
    text-transform: uppercase !important;
    outline: 0 !important;
    border: 2px solid #13caca !important;
    cursor: pointer !important;
        width: 100% !important;
        letter-spacing: 1px !important;"></span></a>
        <br>
        <br>





			<div class="agile-icons">
				<a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a>
				<a href="#"><span class="fa fa-facebook"></span></a>
				<a href="#"><span class="fa fa-pinterest-p"></span></a>
			</div>
		</div>
		<br>
		<div class="copyright">
		<p type='hidden'>© 2018 Apps Login. All rights reserved | Design by <a href="www.w3layouts.com">W3layouts</a></p>
	</div>
	</div>
	<Script>
//		document.getElementById("scanid").add
	</Script>
</body>
</html>
